<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="FSharp.Charting" version="0.91.1" targetFramework="net461" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net461" />
  <package id="FSharp.Desktop.UI" version="0.7.1" targetFramework="net461" />
  <package id="FSharp.ViewModule.Core" version="1.0.7.0" targetFramework="net461" />
  <package id="FsXaml.Wpf" version="3.1.6" targetFramework="net461" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net461" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net461" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="System.Windows.Controls.DataVisualization.Toolkit" version="4.0.0.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>